body{
  background-color: #081B21; 
}
main,.content{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  flex-direction: column;
}

.content{
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width 0.2s, height 0.2s;
}


.shape {
  border: 1px solid grey;
  stroke-dasharray: 0 540;
  stroke-dashoffset: 4;
  stroke-width: 10px;
  stroke: #0276B1;
  border-radius: 100%;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 6s; 
}

.svg-wrapper.active .shape {
  background-color: white;
  stroke-width: 4px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
  border-radius: 100%;
}

.svg-wrapper{
  position: relative;
  top: 65px;
}
svg{
  /* background-color: white; */
  border: none;
}
.title{
  font-size: 15px;
  font-weight: 700;
  color: #212121;
  position: relative;
  top: 82px;
}
.titlespan{
  font-family: Arial;
  font-size: 14px;
  font-weight: 600;
  color: #212121;
  opacity: 0.9;
}
.firsth2{
  font-family: optimist, Helvetica Neue, Helvetica, Arial, "sans-serif";
  font-size: 12px;
  font-weight: 500;
  opacity: 0.9;
}
.updiv{
    width: 300px;
    height: 40px;
    background-color: #013D5B;
    color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: space-around;
    text-align: center;
    position: relative;
    top: 90px;
    z-index: 1;
}
.dollarimg{
  width: 90px;
  height: 90px;
  position: relative;
  top: -148px;
}


.secondp{
    font-size: 17px;
    font-weight: 400;
    width: 261px;
    text-align: center;

}
.seccondh{
  height: 0px;
  padding-top: 24px;
  font-size: 26px;
  text-align: center;
}
.thirdp{
  position: relative;
  bottom: 181px;
  text-align: center;
  letter-spacing: 2;
  font-weight: 500;
  font-size: 14px;
  font-family: optimist, Helvetica Neue, Helvetica, Arial, "sans-serif";
  opacity: 0.7;
}
.thirdwrapper{
  padding-top: 100px;
}
.thirdimg{
  width: 90px;
  height: 90px;
  position: relative;
  top: -120px;
}


