body{
  background-color: #081B21; 
}
main,.content{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  flex-direction: column;
}

.content{
  width: 370px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
  transition: width 0.5s, height 0.5s;

}

.shape {
  border: 1px solid grey;
  stroke-dasharray: 0 540;
  stroke-dashoffset: 4;
  stroke-width: 10px;
  stroke: #0276B1;
  border-radius: 100%;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 6s; 
}

.svg-wrapper.active .shape {
  background-color: white;
  stroke-width: 4px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
  border-radius: 100%;
}

.svg-wrapper{
  position: relative;
}
svg{
  /* background-color: white; */
  border: none;
}
.title{
  font-size: 15px;
  font-weight: 400;
  color: #212121;

}
.titlespan{
  font-size: 16px;
  font-weight: 700;
  color: #212121;
}
.firsth2{
  font-size: 16px;
  font-weight: 500;
}
.updiv{
    width: 350px;
    height: 50px;

    background-color: #013D5B;
    color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: space-around;
    text-align: center;
    position: relative;
    top: 35px;
    z-index: 1;

}
.dollarimg{
  width: 90px;
  height: 90px;
  position: relative;
  top: -239px;
}


.seconddiv{
  width: 370px;
  height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  background-color: #ffffff;
  border-radius: 10px;
  justify-content: center;
}
.secondp{
    font-size: 17px;
    font-weight: 400;
    width: 261px;
    text-align: center;
}
.seccondh{
  height: 0px;
  padding-top: 24px;
  font-size: 26px;
  text-align: center;

}
.thirdp{
  position: relative;
  bottom: 400px;
  font-size: 17px;
  text-align: center;
  width: 395px;
  letter-spacing: 1px;
  font-weight: 400;

}
.thirdwrapper{
  padding-top: 100px;
}
.thirdimg{
  width: 90px;
  height: 90px;
  position: relative;
  top: -336px;
}


